
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}


body {
    line-height: 1;
}

ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}



body{
    font-family: 'Roboto', sans-serif;
    font-size: 100%;
    outline: none;
    margin:0;
    background-color: #242b2e;
}

.mainContent{
    display: flex;
    margin: 0;
    background-color: #242b2e;
}

.leftSideSection{
    float: left;
    width: 15.625%;
    box-shadow: 0 0 55px 35px #0c0c0cd6;
    -webkit-box-shadow:0 0 55px 35px #0c0c0cd6;
    -moz-box-shadow: 0 0 55px 35px #0c0c0cd6;
    position: fixed;
    z-index: 1;
    height: 100%;
    overflow-x: hidden;
}


.rightSideSection{
    width: 84.375%;
    display: flex;
    margin: 0;
    flex-wrap: wrap;
    align-content: flex-start;
    float: right;
    position: relative;
    left:15.625%;

}

.clearAfter::after{
    content: " ";
    clear: both;
    display: block;
}

.imageSection{
    line-height: 0;
    width: 25%;
    position: relative;

}

.imageSection:hover .onHover{
    visibility: visible;
    opacity: 0.9;

}

.onHover{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    visibility: hidden;
    line-height: 26px;
    background-color: #2db8b7;
    transition: all 0.2s;
    -ms-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -webkit-transition: all 0.2s;
}


.onHoverContent{

    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    color: #ffffff;
    top: 50%;
    position: absolute;
    left: 50%;
    -moz-transform: translate(-50%,-50%);
    -o-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
}

.onHoverContent .appDesign{
    font-size: 26px;
}

.onHoverContent .devText{
    padding:24px 0;
    font-size:12px;
    display: inline-block;
    border-bottom: 1px solid #ffffff;
}

.logoSection{
    text-align: center;
    padding: 25px 0;
    background-color: #ffffff;
}

.logoSection a{
    display: inline-block;
    -webkit-transition: 0.3s ease-out;
    -moz-transition: 0.3s ease-out;
    -o-transition:  0.3s ease-out;
}

.logoSection a:hover{
    opacity: 0.6;
}

.logoSection img{
    width:100%;
}

.arrow{
    display: inline-block;
    padding-top: 25px;
    cursor:pointer;
}


.arrowSection a{
    display: inline-block;
}



.navigation li {
    padding: 31px 0;
    margin-bottom: 1px;
    background: -moz-repeating-linear-gradient(#30383c, #323a3d 20%,  #2f373b 30%);
    background: -webkit-repeating-linear-gradient(#30383c, #323a3d 20%,  #2f373b 30%);
    background: -ms-repeating-linear-gradient(#30383c, #323a3d 20%,  #2f373b 30%);
    -webkit-transition: background-color 1s ease-out;
    -moz-transition: background-color 1s ease-out;
    -o-transition: background-color 1s ease-out;
}

.navigation li:hover{
    background:linear-gradient(to left, rgb(34, 173, 172), rgb(35, 174, 172));
    background: #23AEAC;
}

.navigation li a{
    text-decoration: none;
    color: #ffffff;
    float: right;
    margin-right: 25px;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 18px;
    text-transform: uppercase;
}

.navigation{
    display: flex;
    flex-direction: column;
}

.accordionSection{
    margin-right:25px;
    text-align: right;
}

.accordion{
    padding-top: 25px;
    border-bottom: 1px solid #1e282b;
}

.filters {

    border: 1px solid transparent;
    background-color: transparent;
    color: #1ab5b3;
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    font-size:19px;
    outline: none;
    cursor:pointer;
    -webkit-transition: 0.3s ease-out;
    -moz-transition: 0.3s ease-out;
    -o-transition:  0.3s ease-out;
}

.filters:hover{
    border: 1px solid #1ab5b3;;
}

.filterSection{
    display: flex;
    flex-direction: column;
}

.imageSection .image{
    width: 100%;
}

.hideFilterSection{
    display:none;
}

.filterOptions {

    padding-top:35px;
    padding-bottom: 30px;
    cursor:pointer;
}

.filterOptions li{
    padding-bottom:10px;
}


.filterOptions li a{
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    color:#6b7072;
    font-size:13px;
    text-decoration: none;
    -webkit-transition: 0.3s ease-out;
    -moz-transition: 0.3s ease-out;
    -o-transition:  0.3s ease-out;
}

.filterOptions li a:hover{
    color:#ffffff;
}

.filterOptions .filterActive{
    color:#ffffff;
}

.socialIcons{
    padding:28px 0 24px 0;
}


.socialIcons li{
    display: inline-block;
    padding: 2px 2px 0 0;
}

.socialIcons li a{
    display: inline-block;
    -webkit-transition: 0.3s ease-out;
    -moz-transition: 0.3s ease-out;
    -o-transition:  0.3s ease-out;
}

.socialIcons li img{
    width: 100%;
}

.socialIcons li a:hover{
    opacity: 0.8;
}
.copyright{
    font-family: 'Lato', sans-serif;
    font-size: 12px;
    color:#6b7072;
    text-transform: capitalize;
    padding-bottom:5px;
}

@media only screen and (max-width: 1360px){

    .socialIcons, .copyright{
        text-align: center;
    }



}

@media only screen and (max-width: 1370px) and (min-width: 768px) {

    .socialIcons, .copyright{
        text-align: center;
    }
    .onHoverContent .devText{
        padding: 5px 0;
    }

    .arrow{
        padding-top: 5px;
    }

}

@media only screen and (max-width: 1200px) and (min-width: 768px) {

    .imageSection{
        width:33.33333%;
    }



    .onHoverContent .devText{
        padding: 5px 0;
    }

    .arrow{
        padding-top: 5px;
    }


}

@media only screen and (max-width: 768px) and (min-width: 600px) {

    .imageSection{
        width:50%;
    }
    .onHoverContent .devText{
        padding: 5px 0;
    }

    .arrow{
        padding-top: 5px;
    }
    .leftSideSection{
        width:25%;
    }
    .rightSideSection{
        width:75%;
        left:25%;
    }
}

@media only screen and (max-width :600px) and (min-width: 380px) {
    .imageSection {
        width: 100%;
    }

    .leftSideSection {
        width: 30%;
    }

    .rightSideSection {
        width: 70%;
        left:30%

    }

    .onHoverContent .devText {
        padding: 5px 0;
    }
}
    @media only screen and (max-width: 380px) {
        .imageSection {
            width: 100%;
        }

        .leftSideSection {
            width: 50%;
        }

        .rightSideSection {
            width: 50%;
            left:50%

        }

        .navigation li a {
            font-size: 10px;
            text-align: center;

        }

        .onHoverContent .devText {
            padding: 0;
            font-size: 8px
        }

        .onHoverContent .appDesign {
            padding: 0;
            font-size: 8px;
        }

        .arrow {
            padding-top: 0;
        }

}

#mCSB_1_scrollbar_vertical .mCSB_dragger_bar
    {
        background-color: #1ab5b3;
    }


