/* Reset CSS starts here */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

a {
    display: inline-block;
    outline: none;
    text-decoration: none;
}

* {
    box-sizing: border-box;
}

h1 {
    font-size: 28px;
    font-weight: 600;
}

h3{
    font-size: 20px;
}

/* Reset CSS ends here */

body {
    font-family: 'Roboto', sans-serif;
    font-size: 100%;
    outline: none;
    background-color: #242b2e;
    color: #6b7072;
}

.transition {
    -webkit-transition: 0.3s ease-out;
    -moz-transition: 0.3s ease-out;
    -o-transition:  0.3s ease-out;
    transition: 0.3s ease-out;
}

.leftSideSection {
    width: 15.625%;
    box-shadow: 0 0 55px 35px #0c0c0cd6;
    -webkit-box-shadow:0 0 55px 35px #0c0c0cd6;
    -moz-box-shadow: 0 0 55px 35px #0c0c0cd6;
    position: fixed;
    z-index: 1;
    height: 100%;
    overflow-x: hidden;
}

.rightSideSection {
    width: 84.375%;
    display: flex;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    align-content: flex-start;
    margin: 0;
    flex-wrap: wrap;
    position: relative;
    left:15.625%;
}

.clearAfter::after {
    content: " ";
    clear: both;
}

.imageSection {
    line-height: 0;
    width: 25%;
    position: relative;

}

.imageSection:hover .onHover {
    visibility: visible;
    opacity: 0.9;
}

.onHover {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    visibility: hidden;
    line-height: 26px;
    background-color: #2db8b7;
}

.onHoverContent {
    font-weight: 300;
    color: #ffffff;
    top: 50%;
    position: absolute;
    left: 50%;
    -moz-transform: translate(-50%,-50%);
    -o-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
}

.onHoverContent .hoverHeading{
    font-size: 26px;
}

.onHoverContent .descText {
    padding:24px 0;
    font-size:12px;
    display: inline-block;
    border-bottom: 1px solid #ffffff;
}

.logoSection {
    text-align: center;
    padding: 25px 0;
    background-color: #ffffff;
}

.logoSection a:hover {
    opacity: 0.6;
}

.logoSection img {
    max-height: 61px;
}

.arrow {
    display: inline-block;
    padding-top: 25px;
    cursor:pointer;
    width:100%;
}

.navigation {
    text-align: right;
}

.navigation li {

    margin-bottom: 1px;
    background: -moz-repeating-linear-gradient(#30383c, #323a3d 20%,  #2f373b 30%);
    background: -webkit-repeating-linear-gradient(#30383c, #323a3d 20%,  #2f373b 30%);
    background: -ms-repeating-linear-gradient(#30383c, #323a3d 20%,  #2f373b 30%);
    -webkit-transition: background-color 1s ease-out;
    -moz-transition: background-color 1s ease-out;
    -o-transition: background-color 1s ease-out;
}

.navigation li a:hover {
    background:linear-gradient(to left, rgb(34, 173, 172), rgb(35, 174, 172));
    background: #23AEAC;
}

.navigation li a {
    color: #ffffff;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 18px;
    text-transform: uppercase;
    width: 100%;
    padding: 31px 20px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.accordionSection {
    margin-right:25px;
    text-align: right;
}

.accordion {
    padding-top: 25px;
    border-bottom: 1px solid #1e282b;
}

.filters {
    border: 1px solid transparent;
    background-color: transparent;
    color: #1ab5b3;
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    font-size:19px;
    outline: none;
    cursor:pointer;
}

.filters:hover {
    border: 1px solid #1ab5b3;;
}

.imageSection .image{
    width: 100%;
}

.hideFilterSection {
    display: none;
}

.showLeftSideContent {
    display: block!important;

}

.filterOptions {
    padding: 35px 5px;
    cursor:pointer;
}

.filterOptions li {
    padding-bottom:10px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.filterOptions li a {
    font-weight: 300;
    color:#6b7072;
    font-size:13px;
}

.filterOptions li a:hover {
    color:#ffffff;
}

.filterOptions .filterActive {
    color:#ffffff;
}

.socialIcons {
    padding:28px 0 24px 0;
}

.socialIcons li{
    display: inline-block;
    padding: 2px 2px 0 0;
}

.socialIcons li img{
    width: 100%;
}

.socialIcons li a:hover{
    opacity: 0.8;
}

.copyright {
    font-size: 12px;
    text-transform: capitalize;
    padding-bottom:5px;
}

.menuIcon {
    z-index: 2;
    top:30px;
    left:15px;
    color: #242b2e;
    font-size: 30px;
    cursor: pointer;
    visibility: hidden;
    position: absolute;
}

.menuIcon:hover{
    opacity: 0.8;
}

#mCSB_1_scrollbar_vertical .mCSB_dragger_bar

{
    background-color: #1ab5b3;
    font-size: 20px;
}

@media only screen and (max-width: 1370px) and (min-width: 1200px) {

    .socialIcons, .copyright{
        text-align: center;
    }
    .onHoverContent .devText{
        padding: 5px 0;
    }

    .arrow{
        padding-top: 5px;
    }
}

@media only screen and (max-width: 1200px) and (min-width: 850px) {

    .imageSection{
        width:33.3333%;
    }

    .leftSideSection{
        width:20%;
    }

    .rightSideSection{
        width: 80%;
        left:20%;
    }


    .onHoverContent .appDesign{
        font-size: 18px;
    }

    .onHoverContent .devText{
        padding: 6px 0;
        font-size: 14px;
    }

    .arrow{
        width: 70%;
        padding-top:6px;
    }

}

@media only screen and (max-width: 850px) {

    .rightSideSection {
        width: 100%;
        left:0;
    }

    .imageSection {
        width: 50%;
    }

    .leftSideSection {
        width:100%;
        background-color: #242b2e;
    }

    .menuIcon {
        visibility: visible;
    }
    .leftSideSection {
        display: none;
    }
}

@media only screen and (min-width: 850px){
    .leftSideSection{
        display:block!important;
    }
}

@media only screen and (max-width: 850px) and (min-width: 500px){

    .onHoverContent .descText{
        padding: 10px 0;
    }


    .arrow{
        width: 60%;
        padding-top:10px;
    }
}

@media only screen and (max-width: 500px) and (min-width: 405px){

    .onHoverContent .descText{
        padding: 5px 0;
        font-size: 10px;
    }

    .onHoverContent .hoverHeading{
        font-size: 14px;
    }


    .arrow{
        width: 60%;
        padding-top:6px;
    }
}


@media only screen and (max-width: 405px) {

    .rightSideSection{
        width: 100%;
        left:0;
    }

    .imageSection{
        width: 100%;
    }
}

